.react-multi-carousel-dot-list {
  position: absolute;
  bottom: 90px;
}

.client-image {
  box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.75);
}
